@{
    ViewData["Title"] = "Vendors";
}
@model List<PierresBakery.Models.Vendor>

<h1>Vendors</h1>
<p>
    <a href="/vendors/new">Add a new vendor</a>
</p>
<ul>
    @foreach (var vendor in Model)
    {
        <li>
            <a href="/vendors/@vendor.Id">@vendor.Name</a>
        </li>
    }
</ul>
